<section class="h-screen w-screen bg-firstColor px-5 flex items-center justify-center">
    <div class="relative flex justify-center text-white">
        <img src="./ImageGarantia.png" alt="" class="border-2 border-secondColor w-full object-cover h-[450px] lg:h-[500px] lg:w-[85]"/>
        <h3 class="text-sm font-thin  py-2 absolute top-[-20px] text-center text-balance bg-firstColor w-[85%] border-2 border-secondColor	">
            Todos nuestros muebles cuentan con <b>garantia por 10 años</b>
        </h3>
        <h3 class="text-sm font-thin  py-2 absolute bottom-[-20px] text-center text-balance bg-firstColor w-[85%] border-2 border-secondColor	">
            Materia prima de <b>alta calidad</b>
        </h3>
    </div>
</section>