<section class="h-screen w-screen bg-firstColor px-5 flex items-center justify-center">
    <div class="relative flex justify-center text-white bg-garantia w-screen md:w-[65%] h-[70%] bg-cover border-2 2xl:w-[1200px]">
        <h3 class="font-extralight py-2 absolute top-[-35px] text-center text-balance bg-firstColor w-[85%] border-2 border-white md:w-[50%] md:border-l-0 md:border-t-0 md:left-[-2px] md:top-[-2px] md:text-lg">
            Todos nuestros muebles cuentan con <b class="font-medium">garantia por 10 años</b>
        </h3>

        <h3 class="font-extralight py-2 absolute bottom-[-25px] text-center text-balance bg-firstColor w-[85%] border-2 border-white md:right-[-2px] md:bottom-[-2px] md:w-[50%] md:border-b-0 md:border-r-0 md:text-lg">
            Materia prima de <b class="font-medium">alta calidad</b>
        </h3>
    </div>
</section>