<main class="bg-firstColor h-screen w-screen bg-mainImage bg-cover px-5 py-5 lg:px-10 lg:py-10 flex">
    <footer class="self-end flex justify-between items-center w-[100%]">
        <h3 class="text-white font-thin mx-auto text-xs xs:text-sm md:text-lg lg:text-xl text-center text-balance">
            Madera, creatividad y pasión: Transformamos tu espacio.
        </h3>
    </footer>
</main>