---
import Flecha from "../../Flecha.astro";
---

<main
    class="bg-firstColor relative h-screen w-screen bg-mainImage bg-cover px-5 py-5 lg:px-10 lg:py-10 flex flex-col justify-center text-center"
>
    <header
        class="text-white relative flex flex-col mt-10 justify-center items-center"
    >
        <div class="md:flex md:justify-center md:w-screen">
            <h1 class="text-white text-8xl font-bold leading-none w-fit">
                HUGO
            </h1>
            <h3
                class="font-medium text-[47.5px] leading-none w-fit tracking-[6px] relative bottom-1 left-[3px] md:font-bold md:text-8xl md:tracking-[0px] md:bottom-0"
            >
                MOSTEIRO
            </h3>
        </div>
        <h3
            class="tracking-[-2px] text-[35px] leading-[40px] bg-thirdColor font-semibold px-1 w-fit md:hidden"
        >
            AMOBLAMIENTOS
        </h3>
    </header>

    <footer class="flex flex-col items-center pt-5 gap-5 relative top-20">
        <a
            href="#seccion-nosotros"
            class="md:hidden text-black border-2 border-transparent bg-white w-fit px-4 py-2 font-bold flex items-center gap-3 hover:bg-transparent hover:text-white hover:border-2 hover:border-white active:opacity-50 group duration-100"
        >
            Contactanos
            <Flecha clases="fill-current group-hover:fill-white" />
        </a>
        <h6 class="text-white font-extralight relative top-10 md:top-40">
            Madera, creativad y pasión<br />
            <b>¡Transformamos tu espacio!</b>
        </h6>
    </footer>
</main>
