<section
    class="w-screen bg-fixed flex flex-col md:flex-row [&>div]:w-full [&>div]:md:w-[40%] [&>div]:2xl:w-[600px] [&>div]:bg-cover [&>div]:bg-no-repeat md:p-20 bg-firstColor justify-center"
>
    <div class="bg-nosotrosRight flex md:order-2 h-screen md:h-auto ">
        <h3 class="text-center text-white self-end mx-auto pb-10 font-light">
            Transformando espacios desde 1972
        </h3>
    </div>
    <div class="bg-nosotrosLeft relative">
        <div id="blur" class="w-full h-full backdrop-blur-[1px] flex flex-col py-5 bg-firstColor/60 text-white">
            <header class="pb-5">
                <h1 class="text-6xl leading-none font-thin text-center">Nosotros</h1>
                <h3 class="text-xl leading-none pt-2 font-medium text-center">Hugo Mosteiro Amoblamientos<h3>
            </header>
            <p class="inline-block text-balance text-center font-extralight">
                Nos úbicamos en la ciudad de <b class="font-medium">San Pedro</b>,
                de aquí parten miles de amoblamientos hacía todo el país hechos con los <b class="font-medium">detalles</b>,
                la <b class="font-medium">dedicación</b> y <b class="font-medium">cálidad</b> que nos caracterizan.
            </p>

            <h3 class="text-center pt-5 font-extralight">
                <b class="font-medium">Local de Ventas</b> <br/> Pellegrini 2350 - San Pedro, Buenos Aires
            </h3>

            <h3 class="text-center py-5 font-extralight">
                <b class="font-medium">Fábrica industrial</b><br/>Ruta 191 km 5 - San Pedro, Buenos Aires.
            </h3>

            <div class="flex flex-col gap-3 [&>a>h3]:h-[40px] [&>a>h3]:place-content-center">
                <a href="" class="flex items-center justify-center w-full px-5">
                    <h3 class="font-semibold rounded-l bg-white text-firstColor text-center w-[150px]">CABA</h3>
                    <h3 class="px-2 bg-firstColor w-full rounded-r shadow-leftShadow pl-5 font-extralight">+54 11 4321 6789</h3>
                </a>
                <a href="" class="flex items-center w-full px-5">
                    <h3 class="font-semibold rounded-l bg-white text-firstColor w-[150px] text-center">San Pedro</h3>
                    <h3 class="bg-firstColor rounded-r shadow-leftShadow w-full pl-5 font-extralight">+54 3329 678912</h3>
                </a>
                <a href="" class="flex items-center w-full px-5 [&>h3]:flex [&>h3]:items-center">
                    <h3 class="font-semibold rounded-l bg-white text-firstColor w-[150px] text-center">Instagram</h3>
                    <h3 class="bg-firstColor rounded-r shadow-leftShadow w-full pl-5 font-extralight">Mosteiro.amoblamientos</h3>
                </a>

                <footer class="flex flex-col px-5">
                    <h6 class="font-extralight pt-5 pb-2 text-sm">Ubicación en <b>Google Maps</b></h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13279.132116529048!2d-59.6731437!3d-33.6886819!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacf3211336d%3A0x24318ea24df017f6!2sHugo%20Mosteiro%20Amoblamientos!5e0!3m2!1ses-419!2sar!4v1730277149387!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </footer>
            </div>
        </div>
    </div>
</section>
