<article
    class="flex justify-center bg-proceso-1 w-[90%] md:w-[400px] h-[400px] bg-cover md:bg-center bg-bottom relative bottom-[-40px] self-center z-20 [&>h3]:font-extralight md:left-10 md:h-[500px] md:top-4"
>
    <span class="w-full h-full bg-black/50 absolute z-10 border-2 border-white"
    ></span>
    <h3
        class="bg-firstColor text-white border-b-2 border-r-2 absolute z-20 left-0 px-2 text-lg md:py-1 py-1"
    >
        planificamos
    </h3>
    <h3
        class="bg-red-600 text-white absolute z-20 self-center right-0 px-5 text-lg py-1 border-r-2"
    >
        diseñamos
    </h3>
    <h3
        class="bg-white text-firstColor border-l-2 border-b-2 border-white absolute z-20 self-end bottom-0 left-0 px-2 md:border-t-2 md:border-r-2 md:bg-firstColor md:border-b-0 md:border-l-0 md:text-white py-1 text-lg"
    >
        construimos
    </h3>
</article>
