---
import ProcesoIzquierda from "./ProcesoIzquierda.astro";
import ProcesoDerecha from "./ProcesoDerecha.astro";
---

<section class="px-5 md:px-10 flex flex-col items-center justify-center md:flex-row py-10 w-screen bg-firstColor">
    <ProcesoIzquierda/>
    <ProcesoDerecha/>
</section>
