<article class="bg-proceso-2 bg-cover z-10 border-2 border-white top-[20px] py-10 px-4 relative flex justify-center items-center [&>div>div>p]:max-w-lg [&>div>div>p]:text-base [&>div>div>div>h3]:text-lg md:w-[500px] md:pl-14">
    <div class="flex flex-col gap-5 relative z-20">
        <div class="">
            <div class="flex gap-3 items-center text-white font-light">
                <span class="h-10 w-10 bg-white flex justify-center items-center">
                    <img src="/rule.svg" alt="">
                </span>
                <h3>planificación</h3>
            </div>
            <p class="text-xs text-white pl-12 text-balance font-thin">Aqui comienza
                tu proyecto, nuestro equipo se 
                encargará de planificar tu cocina ideal.
            </p>

        </div>
        <div class="">
            <div class="flex gap-3 items-center text-white font-light">
                <span class="h-10 w-10 bg-white flex justify-center items-center">
                    <img src="/pen.svg" alt="">
                </span>
                <h3>diseño</h3>
            </div>
            <p class="text-xs text-white pl-12 text-balance font-thin">Junto a tus ideas y nuestra experiencia 
                en crear espacios únicos y funcionales, diseñaremos tu cocina.
            </p>

        </div>
        <div class="mb-5">
            <div class="flex gap-3 items-center text-white font-light">
                <span class="h-10 w-10 bg-white flex justify-center items-center">
                    <img src="/tool.svg" alt="">
                </span>
                <h3>construcción</h3>
            </div>
            <p class="text-xs text-white pl-12 text-balance font-thin">Nuestro amplio equipo construcción realizará el paso final, asegurando la calidad impecable que nos distingue y la culminación perfecta de tu proyecto.
            </p>

        </div>
        <a href="" class="self-center px-3 py-2 text-white text-center font-semibold border-2 border-white hover:bg-white hover:text-black hover: active:opacity-50 duration-100 transition-colors">Comenzar</a>
    </div>
    <span class="w-full h-full bg-black/50 absolute z-10 top-0 left-0"></span>
</article>