---
import LayoutSecciones from "../../layouts/LayoutSecciones.astro"
---


<LayoutSecciones title="Cocinas">
    <h1>Pagina de cocinas</h1>
    <a href="/cocinas/san-sebastian">san sebastian</a>
</LayoutSecciones>