---
import LayoutSecciones from "../../layouts/LayoutSecciones.astro"
---


<LayoutSecciones title="Cocinas">
    <main class="bg-cocinaImage h-screen w-screen bg-cover bg-right-bottom">
        <h1>Pagina de cocinas</h1>
        <a href="/cocinas/san-sebastian">san sebastian</a>
    </main>
    
</LayoutSecciones>