<button class="text-white absolute right-3 top-5 w-10 h-10 flex items-center justify-center" id="cerrar-navbar-btn">
    <span class="inline-block w-8 h-1 bg-white rotate-45 absolute"></span>
    <span class="inline-block w-8 h-1 bg-white rotate-[-45deg]"></span>
</button>
