<div class="flex flex-col w-6 h-full gap-1 rotate-180 active:rotate-[130deg] duration-200 cursor-pointer z-20" id="menu_icon">
    <span class="h-1 w-[50%] bg-white"></span>
    <span class="h-1 w-[75%] bg-white"></span>
    <span class="h-1 w-[100%] bg-white"></span>
</div>
